{% load static %}
<html>
	<head>
		<title>regist</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">Main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>

				<div id="content">,
					<p id="whereami">
					</p>
					<h1>
						注册
					</h1>
					<form action="{% url 'app:regist' %}" method="post">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									用户名:
								</td>
								<td valign="middle" align="left">
									<input type="name" class="inputgri" name="name" placeholder="请输入用户名字" />
								</td>
							</tr>
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									真实姓名:#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									<input type="text" class="inputgri" name="name" />#}
{#								</td>#}
{#							</tr>#}
							<tr>
								<td valign="middle" align="right">
									密码:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" name="password" placeholder="请输入密码" />
								</td>
							</tr>
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									年龄:#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									<input type="text" class="inputgri" name="age" />#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									性别:#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									男#}
{#									<input type="radio" class="inputgri" name="sex" value="男"#}
{#										checked="checked" />#}
{#									女#}
{#									<input type="radio" class="inputgri" name="sex" value="女" />#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									电话:#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									<input type="text" class="inputgri" name="phone" />#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									对方要求:#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									<textarea rows="5" cols="30" name="ask" style="resize:none;"></textarea>#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td valign="middle" align="right">#}
{#									验证码:#}
{#									<img id="num" src="checkCode" />#}
{#									<a href="javascript:;"#}
{#										onclick="document.getElementById('num').src = 'checkCode?'+(new Date()).getTime()">换一张</a>#}
{#								</td>#}
{#								<td valign="middle" align="left">#}
{#									<input type="text" class="inputgri" name="number" />#}
{#								</td>#}
{#							</tr>#}
						</table>
						<p>
							<input type="submit" class="button" value="注册" />
						</p>
					</form>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
