{% load static %}
<html>
	<head>
		<title>regist</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<div id="rightheader">
						<p>
							{{ datanow }}
							<br />
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">Main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>

				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						修改
					</h1>
					<form action="/app/update/?id={{ emp.id }}" method="post">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
                            <tr>
                                <td>id</td>
                                <td>
                                    <input type="text" class="inputgri" name="id" value="{{ emp.id }}" readonly="true">
                                </td>

                            </tr>


							<tr>
								<td valign="middle" align="right">
									用户名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" value="{{ emp.name }}"/>
								</td>
							</tr>


							<tr>
								<td valign="middle" align="right">
									年龄:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="age" value="{{ emp.age }}" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									性别:
								</td>
								<td valign="middle" align="left">
                                    {% if emp.gender == '男' %}
                                        男
                                        <input type="radio" class="inputgri" name="gender" value="男"
                                            checked="checked" />
                                        女
                                        <input type="radio" class="inputgri" name="gender" value="女" />
                                    {% else %}
                                        男
                                        <input type="radio" class="inputgri" name="gender" value="男"
                                             />
                                        女
                                        <input type="radio" class="inputgri" name="gender" value="女"
                                        checked="checked" />
                                    {% endif %}

								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
                                    薪水：
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="salary" value="{{ emp.salary }}"/>
								</td>
							</tr>


						</table>
						<p>
							<input type="submit" class="button" value="修改" />
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
