{% load static %}
<html>
<head>
    <title>员工信息</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    {#        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>#}
    <script type="text/javascript">
        function toadd() {

            window.open('/app/toadd/', target = '_self')
        }

        function tologin() {
            window.open('/app/login/', target = '_self')
        }

    </script>
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    {{ datanow }}
                    <br/>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="{% url 'app:login' %}">主页面</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>

        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                Welcome{{ }}!
            </h1>

            {#  搜索框  #}
{#            <form action="" method="POST">#}
{#                <div class="row">#}
{#                    <div class="col-lg-6">#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control" placeholder="请输入查询...">#}
{#                            <span class="input-group-btn">#}
{#                        <button class="btn btn-default" type="button">Go!</button>#}
{#                     </span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                <div class="col-lg-6">#}
{#                  <div class="input-group">#}
{#                  <input type="text" class="form-control" placeholder="请输入查询...">#}
{#                  <span class="input-group-btn">#}
{#                    <button class="btn btn-default" type="button">Go!</button>#}
{#                  </span>#}
{#                  </div><!-- /input-group -->#}
{#                </div><!-- /.col-lg-6 -->#}
{#            </div><!-- /.row -->#}
{#            </form>#}



            <form action="{% url 'app:chaxun' %}" method="post">
                <table class="table table-striped">
                    <tr class="table_header">
                        <td class="active">
                            ID
                        </td>
                        <td class="success">
                            <input type="text" style="width: 50px" name="name" >
                            姓名
                        </td>
                        <td class="active">
                            <input type="text" style="width: 50px" name="gender">
                            性别
                        </td>
                        <td class="success">
                            <input type="text" style="width: 50px" name="age" >
                            年龄
                        </td>
                        <td class="active">
                            <input type="text" style="width: 50px" name="salary">
                            薪水
                        </td>
                        <td class="success">
                            <button>查询</button>
                            操作
                        </td>
                    </tr>
                    {% for emp in p_page %}
                        <tr class="success">
                            <td>
                                {{ emp.id }}
                            </td>
                            <td>
                                {{ emp.name }}
                            </td>
                            <td>
                                {{ emp.gender }}
                            </td>
                            <td>
                                {{ emp.age }}
                            </td>
                            <td>
                                {{ emp.salary }}
                            </td>
                            <td>
                                {#  /delete/?id=1  #}
                                <a href="{% url 'app:delete' %}?id={{ emp.id }}" class="glyphicon glyphicon-trash"></a>
                                <a href="{% url 'app:toupdate' %}?id={{ emp.id }}" class="glyphicon glyphicon-edit"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>

            <div align="center">
                {# bootstarp的分页样式标签 #}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            {% if p_page.has_previous %}
                            {#  page对象下面有个previous_page_number(返回上一页的页码 )属性  #}
                                <a href="{% url 'app:userlist' %}?page={{ p_page.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                            {% else %}
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                            {% endif %}
                        </li>


                        {# page_range 是 Paginator的属性#}
                        {% for p in p.page_range %}
                            {#    return number   Paginator对象返回的是一个number #}
                            {% if p == p_page.number %}
                                {#   {% ifequal p p_page.number%}#}
                                <li class="active"><a href="{% url 'app:userlist' %}?page={{ p }}">{{ p }}</a></li>
                            {% else %}
                                <li><a href="{% url 'app:userlist' %}?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                            {#        {% endifequal %}#}
                        {% endfor %}


                        <li>
                            {% if p_page.has_next %}
                                {#  page对象下面有个next_page_numbe(返回上一页的页码 )属性      #}
                                <a href="{% url 'app:userlist' %}?page={{ p_page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            {% else %}
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            {% endif %}

                        </li>
                    </ul>
                </nav>
            </div>


            <p>
                <input type="button" class="button" value="添加员工"
                       onclick="toadd();"/>
                <input type="button" class="button" value="退出"
                       onclick="tologin();"/>
            </p>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            ABC@126.com
        </div>
    </div>
</div>
</body>
</html>
